


*{
border: 0px;
margin: 0px;
box-sizing: border-box;

}
body{
  margin-top: 100px;
}
.circle-container {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  border: 2px solid;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  overflow: hidden;

}

.circle-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placeholder {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px dotted;
  background-color: #e49b1d;
}

.error-icon {
  color: red;
}

.large-error-icon {
  font-size: 48px;
  color: red;
}
.im{
  width: 48px;
  height: 48px;
  margin-left: 24px;
    border-radius: 50%;
  
}
.component-container {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  border: 5px solid black;
 padding: 50px;
  background-color: #112233;
  justify-content: space-around;
  border-radius: 8px;
  max-width: 600px;
  color: white;
  margin: auto;
}

.image-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
 

    padding: 0px;
    padding-left: 1px;
    padding-right: 1px;
   
  
} 

.text-content {
margin-left: 25px;
padding: 0px;
}
